@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --promary-color : #A6602D;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: Inter;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
